In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
taxi = sns.load_dataset("taxis")

In [4]:
taxi.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [5]:
taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   object
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 703.7+ KB

In [6]:
taxi['pickup'].apply(lambda x: x.split()[0].split("-")[1]).value_counts()

03    6432
02       1
Name: pickup, dtype: int64

In [7]:
taxi['dropoff'].apply(lambda x: x.split()[0].split("-")[1]).value_counts()

03    6431
04       1
02       1
Name: dropoff, dtype: int64

In [8]:
taxi['dropoff'].apply(lambda x: x.split()[0].split("-")[0]).value_counts()

2019    6433
Name: dropoff, dtype: int64

In [9]:
def filter_(x):
    if type(x) == str:
        if x[0].lower() == 'a':
            return True
    return False

In [10]:
taxi['pickup_zone'].apply(filter_).sum()

77

In [11]:
taxi[taxi['pickup_zone'].apply(filter_)]['pickup_zone'].unique()

array(['Alphabet City', 'Astoria', 'Auburndale',
       'Allerton/Pelham Gardens'], dtype=object)

In [12]:
taxi[taxi['pickup_zone'].apply(filter_)]['pickup_zone'].nunique()

4

In [13]:
taxi.sort_index()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [14]:
taxi.set_index("pickup").sort_index()

,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
pickup,,,,,,,,,,,,,
2019-02-28 23:29:03,2019-02-28 23:32:35,1,0.90,5.0,0.00,0.0,6.30,green,cash,Old Astoria,Long Island City/Queens Plaza,Queens,Queens
2019-03-01 00:03:29,2019-03-01 00:13:32,3,2.16,10.0,2.00,0.0,15.80,yellow,credit card,Lincoln Square East,Upper East Side North,Manhattan,Manhattan
2019-03-01 00:08:32,2019-03-01 00:29:47,3,7.35,22.5,1.00,0.0,27.30,yellow,credit card,East Chelsea,Mott Haven/Port Morris,Manhattan,Bronx
2019-03-01 00:15:53,2019-03-01 00:47:58,1,7.00,25.5,7.30,0.0,36.60,yellow,credit card,West Village,Astoria,Manhattan,Queens
2019-03-01 00:29:22,2019-03-01 00:32:48,4,0.74,4.5,1.00,0.0,9.30,yellow,credit card,Meatpacking/West Village West,Meatpacking/West Village West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-31 22:13:37,2019-03-31 22:22:50,1,1.00,7.5,0.70,0.0,12.00,yellow,credit card,SoHo,Lower East Side,Manhattan,Manhattan
2019-03-31 22:32:27,2019-03-31 22:34:45,1,0.40,3.5,1.45,0.0,8.75,yellow,credit card,Midtown North,Lincoln Square East,Manhattan,Manhattan
2019-03-31 22:51:53,2019-03-31 22:55:10,1,0.67,4.5,1.66,0.0,9.96,yellow,credit card,West Village,Meatpacking/West Village West,Manhattan,Manhattan
2019-03-31 23:15:03,2019-03-31 23:27:12,1,3.03,11.5,3.82,0.0,19.12,yellow,credit card,Midtown East,Upper West Side South,Manhattan,Manhattan
2019-03-31 23:43:45,2019-04-01 00:13:58,5,12.25,37.0,0.00,0.0,40.80,yellow,cash,LaGuardia Airport,Williamsburg (South Side),Queens,Brooklyn

In [15]:
taxi.sort_values(by='fare')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
1501,2019-03-08 02:21:32,2019-03-08 02:24:58,1,3.10,1.0,0.0,0.00,1.30,yellow,cash,Long Island City/Hunters Point,Long Island City/Hunters Point,Queens,Queens
1080,2019-03-04 14:17:05,2019-03-04 14:17:13,1,0.00,2.5,0.0,0.00,3.30,yellow,cash,JFK Airport,JFK Airport,Queens,Queens
1207,2019-03-08 15:41:20,2019-03-08 15:41:23,1,0.00,2.5,0.0,0.00,5.80,yellow,NaN,Hudson Sq,Hudson Sq,Manhattan,Manhattan
3238,2019-03-09 13:21:11,2019-03-09 13:21:15,2,0.00,2.5,0.0,0.00,3.30,yellow,cash,Garment District,Garment District,Manhattan,Manhattan
739,2019-03-14 00:09:17,2019-03-14 00:09:21,1,0.03,2.5,0.0,0.00,3.80,yellow,cash,Upper East Side South,NaN,Manhattan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,2019-03-12 19:52:36,2019-03-12 19:52:55,3,0.00,120.0,33.2,12.50,166.00,yellow,credit card,NaN,NaN,NaN,NaN
2231,2019-03-11 10:17:31,2019-03-11 11:03:55,1,26.35,130.0,0.0,5.76,136.56,yellow,cash,East Harlem North,NaN,Manhattan,NaN
4050,2019-03-13 14:05:19,2019-03-13 15:01:16,6,33.76,143.5,0.0,0.00,144.30,yellow,cash,LaGuardia Airport,NaN,Queens,NaN
5364,2019-03-17 16:59:17,2019-03-17 18:04:08,2,36.70,150.0,0.0,24.02,174.82,yellow,cash,JFK Airport,JFK Airport,Queens,Queens
5648,2019-03-19 14:21:35,2019-03-19 15:51:28,2,33.46,150.0,0.0,18.90,169.70,green,cash,East Flushing,NaN,Queens,NaN

In [16]:
taxi.sort_values(by = 'color')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.00,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn
5784,2019-03-01 20:34:20,2019-03-01 20:41:44,1,0.86,6.5,1.17,0.00,8.97,green,credit card,Central Harlem North,Central Harlem,Manhattan,Manhattan
5783,2019-03-08 17:18:09,2019-03-08 17:21:36,1,0.68,4.5,1.26,0.00,7.56,green,credit card,Steinway,Steinway,Queens,Queens
5782,2019-03-30 10:51:51,2019-03-30 11:06:56,1,8.28,23.5,4.94,5.76,35.00,green,credit card,Central Harlem North,LaGuardia Airport,Manhattan,Queens
5781,2019-03-15 20:32:42,2019-03-15 20:38:19,1,0.78,6.0,0.00,0.00,7.30,green,credit card,Central Park,Manhattan Valley,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2139,2019-03-05 17:42:07,2019-03-05 17:48:53,1,0.80,6.0,2.05,0.00,12.35,yellow,credit card,Flatiron,Meatpacking/West Village West,Manhattan,Manhattan
2138,2019-03-13 13:28:34,2019-03-13 13:45:00,1,0.60,10.5,2.00,0.00,15.80,yellow,credit card,East Chelsea,Clinton East,Manhattan,Manhattan
2137,2019-03-08 13:27:32,2019-03-08 13:46:23,1,1.40,12.0,3.05,0.00,18.35,yellow,credit card,NaN,NaN,NaN,NaN
2147,2019-03-30 16:05:15,2019-03-30 16:29:07,1,3.30,16.5,3.95,0.00,23.75,yellow,credit card,Union Sq,World Trade Center,Manhattan,Manhattan
3216,2019-03-25 11:48:22,2019-03-25 11:57:03,1,1.52,7.5,2.16,0.00,12.96,yellow,credit card,Flatiron,Meatpacking/West Village West,Manhattan,Manhattan

In [17]:
taxi.agg({"fare": [np.mean, np.median]})

             fare
mean    13.091073
median   9.500000

In [18]:
taxi.agg({"fare": [np.mean, np.median],
         'tip': [np.mean]})

             fare      tip
mean    13.091073  1.97922
median   9.500000      NaN